.slider-main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .slider-container {
    position: relative; 
    width: 77%;   
    height: 150px;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 170px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin-right: 40px;
  
  }
  
  .slider img:hover {
    opacity: 0.8;
  }
  
  @keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }






  .rating-container {
    text-align: center;
    margin-top: 50px;
}
.rating-item {
    margin: 20px 0;
}
.stars {
    color: gold;
    font-size: 24px;
}